/* ==== Main CSS === */

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: -2
}

.img-fill img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}


/* ==== Slider Style === */

.Modern-Slider .item .img-fill {
    background: #000;
    height: 100vh
}


.Modern-Slider .item .img-fill .info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .70);
}

.Modern-Slider .item {
    z-index: -10
}

.welcometext {
    color: #fff
}


/*css code for animation effect*/

.Modern-Slider .item a.read-btn {
    animation: slideInleft 1s both 2.5s;
}

.Modern-Slider .item a.buy-btn {
    animation: slideInleft 1s both 3s;
}

.Modern-Slider .item h3.subheadin1 {
    animation: slideInleft 1s both 1s;
}

.Modern-Slider .item h1 {
    animation: slideInleft 1s both 1.5s;
}

.Modern-Slider .item h3.subheadin2 {
    animation: slideInleft 1s both 2s;
}

.Modern-Slider .item.slick-active a.read-btn {
    animation: fadeInUp 1s both 2.5s;
}

.Modern-Slider .item.slick-active a.buy-btn {
    animation: fadeInUp 1s both 3s;
}

.Modern-Slider .item.slick-active h3.subheadin1 {
    animation: fadeInUp 1s both 1s;
}

.Modern-Slider .item.slick-active h1 {
    animation: fadeInUp 1s both 1.5s;
}

.Modern-Slider .item.slick-active h3.subheadin2 {
    animation: fadeInUp 1s both 2s;
}
.home3 .Modern-Slider .item.slick-active .img-fill .home-3img > img{
    animation: slideInRight 3s both;
}
.home3 .Modern-Slider .item.slick-active:nth-child(odd) .img-fill .home-3img > img{
    animation: slideInRight 3s both;
}
.Modern-Slider .item.slick-active:nth-child(odd) img {
    animation: fadeIn 5s both;
}


/*slider arrows*/

.PrevArrow {
    background: transparent;
    height: 50px;
    left: 2%;
    line-height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 5;
    color: #fff;
    border: 1px solid #fff;
    font-size: 24px;
    transition: .4s;
    border-radius: 1px
}

.NextArrow {
    background: transparent;
    font-size: 30px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    right: 2%;
    text-align: center;
    top: 50%;
    width: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 24px;
    transition: .4s;
    border-radius: 1px;
}

.slick-arrow:hover {
    background: #8dc12b;
    border-color: #8dc12b
}
