    @media only screen and (min-width: 1400px) {}
    
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .single-input {
            float: left;
            margin-bottom: 20px;
            margin-right: 0;
            width: 100%;
        }
        .single-textarea textarea {
            margin-top: 0;
        }
        .input-submit > input {
            margin-top: 20px;
        }
        .newslatter-content > h1 {
            font-size: 30px;
        }
        .single-footer li {
            font-size: 13px;
            line-height: 30px;
        }
        .single-footer li a {
            line-height: 30px;
        }
        .tab-content ul.cast-pricing li {
            margin-right: 50px;
        }
        .member-title h3 {
            font-size: 22px;
        }
        .single-Offer-content {
            padding-left: 50px;
        }
        .offer-icon {
            left: 0;
            margin-left: -40px;
        }
        .call-to-action h1 {
            font-size: 33px;
        }
        .count-content h1 {
            text-align: center;
        }
        .count-content {
            margin-left: 0;
            width: 100%;
            text-align: center;
        }
        .PrevArrowb {
            height: 40px;
            left: 0;
            line-height: 40px;
            width: 40px;
        }
        .NextArrowb {
            right: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        .customar-service {
            float: none;
            padding: 0 0 30px;
            text-align: center;
        }
        .customar-icon {
            float: none;
            margin-right: 0;
            text-align: center;
        }
        .customar-support {
            margin-top: -85px;
            top: 0;
        }
        .single-about-right > h2 span.years {
            bottom: -12px;
        }
        .single-about-right > h2 span.ten {
            float: left;
            font-size: 40px;
            font-weight: 700;
        }
        .single-about-right > h2 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .single-about-right > h4 {
            font-size: 17px;
            padding-bottom: 15px;
        }
        .single-about-left p {
            margin-bottom: 15px;
        }
        .panel-title a {
            font-size: 15px;
        }
        .home3 .PrevArrow {
            left: 0
        }
        .home3 .NextArrow {
            right: 0
        }
        .corporate-2 .single-Offer-content {
            padding-left: 10px;
            padding-right: 10px
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .topbar-left ul li {
            margin-right: 10px;
        }
        .menu li a {
            padding-right: 5px;
            padding-left: 5px;
        }
        .welcome-text h1 {
            font-size: 40px
        }
        .welcome-text h3 {
            font-size: 20px;
        }
        .customar-icon {
            float: none;
            font-size: 80px;
            margin-right: 0;
            text-align: center;
        }
        .customar-service {
            float: none;
            padding: 5px 0 30px;
            text-align: center;
        }
        .customar-support {
            top: -75px;
        }
        .about-us-section {
            padding-bottom: 80px;
            padding-top: 0;
        }
        .single-about-right > h2 span.years {
            bottom: -50px;
        }
        .about-img {
            text-align: center;
        }
        .call-to-action h1 {
            font-size: 25px;
        }
        .offer-icon {
            float: none;
            left: 10px;
            line-height: 70px;
            margin: 0 auto 20px;
        }
        .single-Offer-content {
            padding-left: 20px;
        }
        .single-Offer-content > h4 {
            font-size: 14px;
        }
        .single-Offer {
            text-align: center;
            margin-left: 0;
        }
        .member-title h3 {
            font-size: 17px;
        }
        .single-team p {
            line-height: 20px;
        }
        .packeg_typ {
            padding: 10px 0
        }
        .nav.nav-tabs a {
            font-size: 13px;
            margin-right: 2px;
            padding-left: 14px;
            padding-right: 14px;
        }
        .cast-pricing > li h1 {
            font-size: 30px;
        }
        .tab-content ul.cast-pricing li {
            margin-right: 10px;
        }
        .tab-content h3 {
            margin-bottom: 10px;
        }
        .nav.nav-tabs {
            margin-bottom: 20px;
        }
        .NextArrowb {
            top: auto;
            bottom: 0;
            right: 42%;
        }
        .PrevArrowb {
            top: auto;
            left: 42%;
            bottom: 0;
        }
        .blog-slider-active {
            padding-bottom: 90px;
            position: relative;
        }
        .single-blog-area > a > h3 {
            font-size: 20px;
        }
        .NextArrowbrand {
            bottom: 2%;
            height: 50px;
            margin-top: -25px;
            opacity: 0.5;
            right: 45%;
            top: auto;
            width: 50px;
        }
        .PrevArrowbrand {
            bottom: 2%;
            height: 50px;
            left: 45%;
            top: auto;
            width: 50px;
        }
        .panel-title a {
            font-size: 15px;
        }
        .single-input {
            float: left;
            margin-bottom: 20px;
            margin-right: 0;
            width: 100%;
        }
        .single-textarea textarea {
            margin-top: 0;
        }
        .input-submit > input {
            margin-top: 20px;
        }
        .newslatter-content > h1 {
            font-size: 24px;
        }
        .subcribesubmit {
            width: 33%;
        }
        .single-footer li {
            line-height: normal;
            margin-bottom: 10px;
        }
        .single-footer > ul li a {
            line-height: normal;
        }
        .widget-title {
            margin-bottom: 20px;
        }
        .copyright-area {
            padding: 20px;
        }
        .single-footer {
            height: 250px;
        }
        .footer-area.section-padding {
            padding-bottom: 20px;
        }
        /*home 3 css*/
        .pdl0 {
            padding-left: 20px
        }
        .screenshot-content > h3 {
            font-size: 22px;
        }
        .shortcontentS ul.slick-dots {
            left: 7%;
        }
        .about-us-section.corporate-2.corporate-3 {
            padding-top: 70px;
        }
        .about-list li span {
            margin-right: 8px;
            float: left;
            margin-bottom: 2px;
        }
        .about-list > li {
            line-height: normal;
            margin-bottom: 10px;
            overflow: hidden;
        }
        .features-img {
            margin-top: 200px;
        }
        .single-count {
            padding-bottom: 40px;
            padding-top: 40px;
            text-align: left;
        }
        .home3 .PrevArrow {
            width: 30px;
            height: 30px;
            line-height: 30px;
            left: 0
        }
        .home3 .NextArrow {
            width: 30px;
            height: 30px;
            line-height: 30px;
            right: 0
        }
        .home3 .welcome-btn a {
            width: 140px;
        }
        .corporate-2 .single-Offer-content {
            padding: 10px 1px;
            text-align: center;
        }
        .single-Offer-content > h4 {
            font-size: 18px;
        }
        /*corporat 4 css*/
        .about-us-section.corporate-2.corporate-4 {
            padding-top: 80px;
        }
        .tag li a {
            font-size: 14px;
            padding: 5px 15px;
        }
        .single-blog-area.sigle-blog-post > img {
            float: none;
            margin-bottom: 20px
        }
        .tag.posttag li a {
            display: inline-block;
            font-size: 13px;
        }
        .single-blog-area.sigle-blog-post {
            padding-bottom: 0;
        }
        .single-comments-input {
            height: 50px;
            margin-bottom: 10px;
            margin-left: 0;
            width: 100%;
        }
        .single-comments textarea {
            margin-top: 0;
        }
        .relative-post .single-blog-area {
            margin-bottom: 50px;
        }
        .single-blog-post-area {
            padding-bottom: 20px;
        }
        .menu li ul.submenu {
            left: -100px;
        }
        .panel-title a {
            padding-right: 40px;
            line-height: 20px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        .topbar-left {
            display: none;
        }
        .top-social-link {
            text-align: center;
        }
        .welcome-text h1 {
            font-size: 20px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .welcome-text h3 {
            font-size: 16px
        }
        .welcome-btn {
            padding-top: 30px;
        }
        .customar-support {
            background: #000 none repeat scroll 0 0;
            position: relative;
            top: 0;
            margin-top: 0
        }
        .customar-icon {
            float: none;
            font-size: 80px;
            margin-right: 0;
            text-align: center;
            width: 100%;
        }
        .customar-service {
            float: none;
            padding: 0 0 35px;
            text-align: center;
        }
        .action-btn {
            margin-top: 40px;
            text-align: center;
        }
        .call-to-action h1 {
            font-size: 25px;
            margin-bottom: 5px;
            text-align: center;
        }
        .call-to-action p {
            text-align: center;
        }
        .offer-icon {
            left: 0;
            margin-left: -30px;
        }
        .single-Offer-content {
            padding-left: 50px;
        }
        .section-title > h2 {
            font-size: 30px;
        }
        .isotop-nav li {
            padding: 5px 10px;
        }
        .single-portfolio {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
        }
        .count-icon {
            width: 90px;
            height: 90px;
            line-height: 90px;
        }
        .member-img > img {
            width: 100%;
        }
        .single-team {
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        .member-title {
            margin-bottom: 10px;
        }
        .team-area.section-padding {
            padding-bottom: 50px;
        }
        .single_pricing {
            margin-bottom: 30px;
        }
        .client-content p {
            padding-left: 50px;
        }
        .nav > li > a {
            padding: 7px 9px;
        }
        .nav.nav-tabs a {
            font-size: 14px;
            margin-right: 3px;
        }
        .nav.nav-tabs {
            margin-bottom: 40px;
        }
        .tab-content h3 {
            margin-bottom: 10px
        }
        .cast-content {
            margin-bottom: 0;
        }
        .cast-content {
            padding-top: 69px;
        }
        .tab-content ul.cast-pricing {
            margin-top: 20px;
            text-align: center;
        }
        .tab-content ul.cast-pricing li {
            margin-right: 10px;
        }
        .single-blog-area > a > h3 {
            font-size: 20px;
        }
        .NextArrowb {
            bottom: 5%;
            height: 40px;
            line-height: 40px;
            right: 36%;
            top: auto;
            width: 40px;
        }
        .PrevArrowb {
            bottom: 5%;
            height: 40px;
            left: 36%;
            line-height: 40px;
            top: auto;
            width: 40px;
        }
        .NextArrowbrand {
            bottom: 2%;
            height: 50px;
            margin-top: -25px;
            opacity: 0.5;
            right: 38%;
            top: auto;
            width: 50px;
        }
        .PrevArrowbrand {
            bottom: 2%;
            height: 50px;
            left: 38%;
            top: auto;
            width: 50px;
        }
        .single-input {
            float: left;
            margin-bottom: 10px;
            margin-right: 0;
            width: 100%;
        }
        .single-textarea textarea {
            margin-top: 0
        }
        .contact-form {
            margin-bottom: 50px;
        }
        .input-submit > input {
            margin-top: 10px
        }
        .section-title {
            padding-bottom: 50px;
        }
        .gmap {
            height: 250px;
        }
        .subcribesubmit {
            width: 35%;
            margin-left: -48px;
            font-size: 14px
        }
        .newslatter-content > h1 {
            font-size: 20px;
            text-align: center;
        }
        .newslatter-content > h4 {
            font-size: 17px;
            text-align: center;
        }
        .newslatter-content {
            margin-bottom: 40px;
        }
        .newslatter-content {
            margin-bottom: 40px;
        }
        .single-footer {
            margin-bottom: 50px;
        }
        .widget-title {
            margin-bottom: 15px;
        }
        .single-footer > ul li a {
            line-height: 25px;
        }
        .single-footer li {
            line-height: 25px;
        }
        footer.footer-area.section-padding {
            padding-bottom: 40px;
        }
        .copyright-area {
            font-size: 11px;
            padding: 20px
        }
        .single-about-left p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        .about-img {
            margin-top: 30px;
        }
        .navbar-toggle span {
            background: #a3de31 none repeat scroll 0 0;
        }
        .navbar-toggle {
            margin-top: 25px;
        }
        .NextArrow {
            bottom: 2%;
            height: 30px;
            line-height: 25px;
            right: 37%;
            top: auto;
            width: 30px;
        }
        .PrevArrow {
            width: 30px;
            height: 30px;
            line-height: 25px;
            left: 37%;
            top: auto;
            bottom: 2%
        }
        .welcome-btn a.read-btn {
            margin-right: 0;
        }
        .welcome-btn a.buy-btn {
            margin-right: 0;
        }
        .welcome-btn a {
            font-size: 16px;
            height: 40px;
            line-height: 36px;
            width: 140px;
        }
        .topbar-area {
            padding: 5px 0
        }
        .menu {
            text-align: center;
        }
        .menu li a:before {
            width: 70%;
            left: 15%
        }
        .home3 .welcome-text {
            text-align: center;
        }
        .navbar-toggle span {
            background: #fff;
        }
        .about-list {
            width: 100%
        }
        .about-img1 {
            margin-top: 20px;
        }
        .features-img {
            margin-top: 30px;
        }
        .pdl0 {
            padding-left: 10px;
        }
        .screenshot-slider-active .slick-slide.slick-current.slick-active::before {
            -webkit-background-size: 90% 100%;
            background-size: 90% 100%;
            background-position: 50% center;
        }
        .screenshot-slider-active .slick-slide img {
            display: inline-block;
        }
        .screenshot-slider-active .slick-slide {
            text-align: center;
        }
        .contact-content > h4 {
            font-size: 16px;
        }
        .contact-address {
            margin-bottom: 30px;
        }
        .contact-form {
            margin-bottom: 10px;
        }
        .shortcontentS ul.slick-dots {
            bottom: 5%;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }
        .screenshot-content {
            padding-top: 50px !important;
            padding-bottom: 50px !important;
        }
        .home3 .welcome-text h1 {
            font-size: 30px;
        }
        .corporate-3 .nav.menu.navbar-right.navbar-nav {
            background: #3293d4 none repeat scroll 0 0;
        }
        .corporate-2 .menu {
            background: #232323 none repeat scroll 0 0;
        }
        .corporate-2 .single-Offer-content {
            padding: 10px 11px;
        }
        .single-count {
            padding-bottom: 30px;
            padding-top: 30px;
            text-align: left;
        }
        .client-content {
            background-size: 100% 100%;
            line-height: 24px;
            padding: 10px 18px 50px;
        }
        .client-content span {
            float: none;
        }
        .client-content p {
            padding-left: 0;
        }
        .panel-title a {
            padding-right: 40px;
            padding-left: 10px;
        }
        /*corporate 4 css*/
        .navbar.corporate-4 .menu {
            background: #061F26;
        }
        .about-img1 {
            margin-bottom: 50px;
        }
        .navbar-collapse.in {
            overflow: hidden;
            max-height: none !important;
            height: auto !important;
        }
        .menu li a {
            line-height: 40px;
        }
        .menu li.searchbtn {
            display: none !important;
        }
        .menu li a::before {
            height: 2px;
        }
        button.blacknav span {
            background: #8DC12B none repeat scroll 0 0;
        }
        .page-heading > h1 {
            font-size: 40px;
        }
        .post-date {
            height: auto;
            line-height: 25px;
            padding: 10px 0;
        }
        .pagination > li > a,
        .pagination > li > span {
            height: 30px;
            width: 30px;
            line-height: 30px;
        }
        .tag li a {
            padding: 10px 20px;
        }
        .wedget-area {
            margin-top: 50px;
        }
        .paginationkhela {
            text-align: center;
        }
        .menu li ul.submenu {
            left: 10%
        }
        .welcome-text h3{
            line-height: 24px;
        }
        .section-title.pading-top {
  padding-top: 40px;
}
.single-blog-area.sigle-blog-post > img {
  
  margin-bottom: 20px;
}
.share > strong {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
  width: 100%;
}
.share a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.prevnextpost > a {
  font-weight: 500;
  margin-left: 8px;
  padding-left: 8px;
  text-transform: uppercase;
  font-size: 14px;
}
.prevnextpost a span.fa.fa-angle-right{
    padding-left: 10px;
}
.prevnextpost a span.fa.fa-angle-left{
    padding-right: 10px;
}
.prevnextpost {
  margin-top: 33px;
}
.author-img{
    margin-right: 10px;
}
.about-author {
  padding-left: 80px;
}
.single-comments-input {
  float: left;
  height: 50px;
  margin-left: 0;
  margin-top: 10px;
  width: 100%;
}
.blog-post-area.single-blog-post-area.section-padding {
  padding-bottom: 30px;
}
    }
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .single-about-right > h2 span.years {
            bottom: -50px;
        }
        .call-to-action h1 {
            font-size: 24px;
        }
        .single-portfolio {
            width: 50%;
        }
        .blog-img img {
            width: 100%;
        }
        .NextArrowb {
            right: 40%
        }
        .PrevArrowb {
            left: 40%
        }
        .nav.nav-tabs a {
            margin-right: 5px;
            padding: 10px 20px;
        }
        .subcribesubmit {
            margin-left: -72px;
        }
        .copyright-area {
            font-size: 15px;
        }
        .isotop-nav li {
            font-size: 12px;
        }
        .screenshot-slider-active .slick-slide.slick-current.slick-active::before {
            -webkit-background-size: 60% 100%;
            background-size: 60% 100%;
        }
        .screenshot-content > h3 {
            margin-top: 0;
        }
        .screenshot-content {
            padding-top: 10px !important
        }
        .screenshot-slider-active {
            margin-top: 30px;
        }
    }
